/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  /* background-color: #f4f4f4; */
  /* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}

p {
  font-weight: 400;
  font-size: 14px;
  color: #353535;
}

.main-container {
  max-width: 550px;
  margin: 80px auto 0;
  border-radius: 12px;
  overflow: hidden;
}

header {
  padding: 40px;
  color: white;
  background-color: #6943ff;
  text-align: center;
}

.logo {
  width: 40%;
  margin-bottom: 8px;
}

header h1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 32px;
}

header input {
  width: 140px;
  padding-right: 6px;
  font-size: 60px;
  background: none;
  border: 1px solid #b295ff;
  border-radius: 6px;
  color: white;
  text-align: right;
  margin-bottom: 16px;
  font-weight: 800;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-convert {
  display: block;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 28px;
  border: none;
  border-radius: 6px;
  background-color: white;
  transition: 400ms;
  cursor: pointer;
}

.btn-convert:hover {
  opacity: 0.5;
}

main {
  padding: 40px;
  background-color: #f4f4f4;
  text-align: center;
}

main > * {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 24px;
  padding: 32px 0;
}

main h4 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #5a537b;
}

.section-mass {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0 16px;
  }

  .main-container {
    margin-top: 32px;
  }

  main {
    padding: 24px;
  }

  main > * {
    padding: 32px;
  }
}
